# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.user
*.user.*
*.log

#build dirs
drash-build-release
drash-build-debug
3rd
res
